<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyPlan - ISU Class Scheduler</title>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <!-- ISU Brand Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/CyPlan_Logo.png">

    <!-- Server data injection -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.serverData = {
            courses: /*[[${courses}]]*/ [],
            selectedSections: /*[[${selectedSections}]]*/ [],
            departments: /*[[${departments}]]*/ [],
            academicPeriods: /*[[${academicPeriods}]]*/ [],
            selectedAcademicPeriod: /*[[${selectedAcademicPeriod}]]*/ '',
            currentScheduleIndex: /*[[${currentScheduleIndex}]]*/ 0,
            scheduleCount: /*[[${scheduleCount}]]*/ 0
        };
        /*]]>*/
    </script>

    <!-- Vite Built Assets -->
    <script type="module" crossorigin src="/js/main-gu2adEFb.js"></script>
    <link rel="stylesheet" crossorigin href="/css/main-CVbahaej.css">
</head>

<body>
    <div id="app"></div>
</body>
</html>